@font-face {
  font-family: 'yoster';
  src: url('assets/yoster.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'pixel';
  src: url('assets/BlockCraft.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --tile-color: rgb(221, 221, 221);
  --highlight-color: rgb(255, 136, 0);
  --active-color: rgb(0, 81, 255);

  font-family: pixel, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: yoster;
}

/* Game board */
#game-board {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
}

/* Game tile */
.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;

  position: relative;
  background-color: var(--tile-color);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

.game-tile span {
  font-size: x-large;
  font-weight: bolder;
  display: none;
}

.highlight {
  background-color: var(--highlight-color);
}

.game-tile:not(.active):not(.highlight) {
  opacity: 0.4;
  pointer-events: none;
}

.game-tile.active:hover {
  background-color: var(--active-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.center {
  text-align: center;
}

/* Buttons */
#start-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(0, 81, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Game Bar */
#game-status {
  margin: 10px;
}

.game-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 400px;
}

.game-bar > * {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}